<html>
  <head>
    <title>Сайт дебила</title>
  </head>
  <body background = "https://c.tenor.com/e5-vmCtRTQ8AAAAC/%D0%BF%D0%B0%D0%BF%D0%B8%D1%87-arthas.gif">
      <p>Oh, hello there!</p>
      <p>ОНО РАБОТАЕТ</p>
    <div>
      <h1><a href="/">В МЕНЯ НИКТО НЕ ВЕРИЛ,НО У МЕНЯ ПОЛУЧИЛОСЬ</a></h1>
      <p>ЧЕЛОВЕК ЯЙЦО? ОН СУЩЕСТВУЕТ?</p>
    </div>
    {% for post in posts %}
    <div>
      <p>published: {{ post.published_date }}</p>
      <h1><a href="">{{ post.title }}</a></h1>
      <p>{{ post.text|linebreaksbr}}</p>
    </div>
    {% endfor %}
  </body>
</html>
