<html>
  <head>
    <title>Сайт дебила</title>
  </head>
  <body>
      <p>Oh, hello there!</p>
      <p>ОНО РАБОТАЕТ</p>
    <div>
      <h1><a href="/">В МЕНЯ НИКТО НЕ ВЕРИЛ,НО У МЕНЯ ПОЛУЧИЛОСЬ</a></h1>
      <p>ЧЕЛОВЕК ЯЙЦО? ОН СУЩЕСТВУЕТ?</p>
    </div>

    <div>
      <h2><a href=""> ПЕРВЫЙ ПОСТ В ЭТОЙ БЕЗДНЕ </a></h2>
      <p>О чём же он будет?</p>
    </div>

    <div>
      <h3><a href="">ВТОРОЙ ПОСТ</a></h3>
      <p>ЧТООООООООООООО?</p>
    </div>

    <div>
      <h4>Опенинг берсерка гейский?</h4>
      <p>SO FEEL NO SHAME ABOUT SHAPE</p>
      <p>WHEATHER CHANGES THEIR PHRASE</p>
    </div>
  </body>
</html>
